body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #081b29; }

.wrapper {
  width: 750px;
  height: 450px;
  background: transparent;
  border: 2px solid #0ef;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 25px #0ef; }

.form-box {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form-box .form-group {
    width: 100%;
    height: 50px;
    margin: 25px 0;
    position: relative; }
    .form-box .form-group input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding-right: 25px;
      box-sizing: border-box;
      background: transparent;
      border-bottom: 2px solid #fff; }
      .form-box .form-group input:focus ~ label {
        top: -5px;
        color: #0ef;
        font-size: 13px; }
      .form-box .form-group input:valid ~ label {
        top: -5px;
        color: #0ef;
        font-size: 13px; }
      .form-box .form-group input:focus ~ i {
        color: #0ef; }
      .form-box .form-group input:valid ~ i {
        color: #0ef; }
    .form-box .form-group label, .form-box .form-group i {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s; }
    .form-box .form-group i {
      font-size: 18px;
      right: 0;
      left: unset; }
  .form-box-login {
    left: 0;
    padding: 0 60px 0 40px; }
  .form-box-register {
    right: 0;
    padding: 0 40px 0 60px;
    display: none; }
    .form-box-register .form-group {
      margin: 15px 0; }
      .form-box-register .form-group input:focus ~ label {
        top: 0;
        color: #0ef;
        font-size: 13px; }
      .form-box-register .form-group input:valid ~ label {
        top: 0;
        color: #0ef;
        font-size: 13px; }
  .form-box-header {
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: bolder; }
  .form-box .btn {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: 2px solid #0ef;
    cursor: pointer;
    background: transparent;
    outline: none;
    color: #fff;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .form-box .btn::before {
      content: '';
      position: absolute;
      top: -100%;
      left: 0;
      background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
      width: 100%;
      height: 300%;
      z-index: -1;
      transition: .5s; }
    .form-box .btn:hover::before {
      top: 0; }
  .form-box .log-or-reg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px; }
    .form-box .log-or-reg-link a {
      color: #0ef;
      text-decoration: none;
      font-weight: 600; }
      .form-box .log-or-reg-link a:hover {
        text-decoration: underline; }

.info-text {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .info-text-login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    box-sizing: border-box; }
  .info-text h2 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3; }
  .info-text p {
    font-size: 16px;
    color: #fff; }
  .info-text-register {
    left: 0;
    text-align: left;
    padding: 0 150px 0px 40px;
    box-sizing: border-box;
    display: none; }

.bg-animate {
  position: absolute;
  top: -4px;
  right: 0;
  width: 850px;
  height: 600px;
  background: linear-gradient(45deg, #081b29, #0ef);
  border-bottom: 3px solid #0ef;
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right; }

.bg-animate2 {
  position: absolute;
  top: 100%;
  left: 250px;
  width: 850px;
  height: 700px;
  background: #081b29;
  border-bottom: 3px solid #0ef;
  transform: rotate(0) skewY(0);
  transform-origin: bottom left; }

.wrapper .form-box-login .animation, .wrapper .info-text-login .animation {
  transform: translateX(0);
  transition: .7s ease;
  opacity: 1;
  filter: blur(0px); }

.wrapper.active .form-box-login .animation, .wrapper.active .info-text-login .animation {
  transform: translateX(-120%);
  transition-delay: calc(.1s * var(--i));
  opacity: 0;
  filter: blur(10px); }
.wrapper.active .info-text-login .animation {
  transform: translateX(120%); }
.wrapper.active .bg-animate {
  transform: rotate(0) skewY(0); }
.wrapper.active .bg-animate2 {
  transform: rotate(-11deg) skewY(-41deg); }

/*# sourceMappingURL=style_logreg.css.map */
