$neon-blue:#0ef;
$background-color:#081b29;
body{
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color;
	// background-color: #30304d;
}
.wrapper{
	width: 750px;
	height: 450px;
	background: transparent;
	border: 2px solid #0ef;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 25px $neon-blue;
}
.form-box{
		position: absolute;
		top :0;
		
		box-sizing: border-box;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	.form-group{
		width: 100%;
		height: 50px;
		margin: 25px 0;
		position: relative;
		& input{
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			padding-right: 25px;
			box-sizing: border-box;
			background: transparent;
			border-bottom: 2px solid #fff;
			&:focus~label{
				top:-5px;
				color: $neon-blue;
				font-size: 13px;
			}
			&:valid~label{
				top:-5px;
				color: $neon-blue;
				font-size: 13px;
			}
			&:focus~i{
				color: $neon-blue;
			}
			&:valid~i{
				color: $neon-blue;
			}
		}
		& label,i{
			position: absolute;
			top:50%;
			left: 0;
			transform: translateY(-50%);
			font-size: 16px;
			color: #fff;
			pointer-events: none;
			transition: .5s;
		}
		& i{
			font-size: 18px;
			right: 0;
			left: unset;
		}
	}
	&-login{
		left: 0;
		padding: 0 60px 0 40px;
	}
	&-register{
		right: 0;
		padding: 0 40px 0 60px;
		& .form-group{
			margin: 15px 0;
			& input{
				&:focus~label{
					top:0;
					color: $neon-blue;
					font-size: 13px;
				}
				&:valid~label{
					top:0;
					color: $neon-blue;
					font-size: 13px;
				}
			}
		}
		//display: none;
	}
	&-header{
		font-size: 32px;
		color: #fff;
		text-align: center;
		font-weight: bolder;
	}
	& .btn{
		width: 100%;
		height: 45px;
		border-radius: 40px;
		border: 2px solid $neon-blue;
		cursor: pointer;
		background: transparent;
		outline: none;
		color: #fff;
		font-weight: 600;
		position: relative;
		z-index: 1;
		overflow: hidden;
		&::before{
			content: '';
			position: absolute;
			top:-100%;
			left: 0;
			background: linear-gradient($background-color,$neon-blue,$background-color,$neon-blue);
			width: 100%;
			height: 300%;
			z-index: -1;
			transition: .5s;
		}
		&:hover::before{
			top:0;
		}
	}
	.log-or-reg-link{
		font-size: 14.5px;
		color: #fff;
		text-align: center;
		margin: 20px 0 10px;
		& a{
			color: $neon-blue;
			text-decoration: none;
			font-weight: 600;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.info-text{
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&-login{
		right: 0;
		text-align: right;
		padding: 0 40px 60px 150px;
		box-sizing: border-box;
		
	}
	& h2{
		font-size: 36px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		line-height: 1.3;
	}
	& p{
		font-size: 16px;
		color: #fff;
	}
	&-register{
		left: 0;
		text-align: left;
		padding: 0 150px 0px 40px;
		box-sizing: border-box;
		//display: none;
	}
}
.bg-animate{
	position: absolute;
	top:-4px;
	right: 0;
	width: 850px;
	height: 600px;
	background: linear-gradient(45deg,$background-color,$neon-blue);
	border-bottom:3px solid $neon-blue;
	transform: rotate(10deg) skewY(40deg);
	//transform: rotate(0) skewY(0);
	transform-origin: bottom right;
	transition: 1.5s ease;
	transition-delay: 1.6s;
}
.bg-animate2{
	position: absolute;
	top:100%;
	left: 250px;
	width: 850px;
	height: 700px;
	background: $background-color;
	border-top:3px solid $neon-blue;
	//transform: rotate(-11deg) skewY(-41deg);
	transform: rotate(0) skewY(0);
	transform-origin: bottom left;
	transition: 1.5s ease;
	transition-delay: .5s;
}
.wrapper{
	& .form-box-login,.info-text-login{
		& .animation{
			transform: translateX(0);
			transition: .7s ease;
			opacity: 1;
			filter: blur(0);
			transition-delay: calc(.1s * var(--j));
		}
	}
	& .form-box-register{
		& .animation{
			transform: translateX(120%);
			opacity: 0;
			filter:blur(10px);
			transition: .7s ease;
			transition-delay: calc(.1s * var(--j));
		}
	}
	& .info-text-register{
		pointer-events: none;
		& .animation{
			transform: translateX(-120%); 
			opacity: 0;
			filter:blur(10px);
			transition: .7s ease;
			transition-delay: calc(.1s * var(--j));
		}
	}
}
.wrapper.active{
	overflow: hidden;
	& .form-box-login,.info-text-login{
		& .animation{
			transform: translateX(-120%);
			opacity: 0;
			filter: blur(10px);
			transition-delay: calc(.1s * var(--i)); 
		}
	}
	& .info-text-login{
		& .animation{
			transform: translateX(120%);
		}
	}

	& .form-box-register,.info-text-register{
		pointer-events: auto;
		& .animation{
			transform: translateX(0);
			opacity: 1;
			filter: blur(0);
			transition-delay: calc(.1s * var(--i)); 
		}
	}

	& .bg-animate{
		transform: rotate(0) skewY(0);
		transition-delay: .5s;
	}
	& .bg-animate2{
		transform: rotate(-11deg) skewY(-41deg);
		transition-delay: 1.2s;
	}
	
}